#main #about{
	position: relative;
	display: block;
	height: 370px;
	width: auto;	
	border-bottom:5px solid #fe9309;
}
#about .aboutimg{
	position: absolute;
	display: block;
	left: 60%;
	top: 1%;
				animation-name: rotate;
  animation-duration: 4s ;
  animation-delay: 2s;
   animation-iteration-count: infinite;
}
#about .aboutimg2{
	position: absolute;
	display: block;
	left: 60%;
	top: 1%;
}
@keyframes rotate {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(90deg);}
  50%  {transform: rotate(180deg);}
  75%  {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}
#about .logo{
	position: absolute;
	top: 40%;
	left: 15%;
}
#about p{
	position: absolute;
	top: 20px;
	width: 60%;
}